<!-- tells it to include the header file -->
<%- include('header') -%>

<div role="main" class="container">
    <br/><br/>
    <h2>Welcome to the <%= message %>!</h2>
</div>
<!-- tells it to include the header file (this applies for all ejs files) -->
<%- include('footer') -%>
